<div class="container">
<header>
 
  <h2 style="color: black; font-style: italic;">"HAPPINESS IS NOT IN MONEY BUT IN SHOPPING"</h2>
  
</header>
</div>
<br>

<div class="img">

<img src="https://www.hometown.in/media/cms/icons/msite-yes-banner0.jpg" alt="offer"
style="width: 1200px ; height: 400px;">

<img src="https://ii2.pepperfry.com/media/wysiwyg/banners/HB04_Web_06122021_1x.jpg" alt="Shop Clocks" title="Shop Clocks" srcset="https://ii2.pepperfry.com/media/wysiwyg/banners/HB04_Web_06122021_1x.jpg,
https://ii2.pepperfry.com/media/wysiwyg/banners/HB04_Web_06122021_2x.jpg 1.1x,
https://ii2.pepperfry.com/media/wysiwyg/banners/HB04_Web_06122021_2x.jpg 2x"
style="width: 1200px; height: 400px;">




</div>
